      {% extends "base.html.twig" %}

      {% block content %}
<section class="iq-main-slider p-0">
    <div id="tvshows-slider">
            
        {% for headerhero in headershero %}

            <div>
                <a href="/movie/{{headerhero.slug}}">
                    <div class="shows-img">
                        <img src="{{headerhero.image}}" class="w-100" alt="">
                        <div class="shows-content">
                            <h4 class="text-white mb-1">{{headerhero.name}}</h4>
                            <div class="movie-time d-flex align-items-center">
                                <div class="badge badge-secondary p-1 mr-2">{{headerhero.ageadapt}}+</div>
                                <span class="text-white">{{headerhero.time}}</span>
                                 <div class="trailor-video">
                          </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
            
    </div>

</section>

{% if headershero is empty %}

<div class="pt-5"></div>

{% endif %}
<!-- Slider End -->
<!-- MainContent -->
<div class="main-content">
    <section id="iq-favorites">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title"> {{ constant('_MOVIES') }}</h4>
                    </div>

                    <div class="d-flex justify-content-evenly flex-wrap" id="load-data">

                        {% for movie in movies %}
                            
                        <div class="b-block ml-3 mr-3 mb-5 video-items" data-slick-index="0" aria-hidden="false" style="width: 432px;" tabindex="0" id="js-items">
                            <a href="/movie/{{ movie.slug }}" tabindex="0">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="{{ movie.image }}" class="img-fluid" alt="">
                                    </div>
                                    <div class="block-description">
                                        <h6>{{ movie.name }}</h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">{{ movie.ageadapt }}+</div>
                                            <span class="text-white">{{ movie.time }}</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                {{constant('_PLAYNOW')}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li><span><i class="ri-heart-fill"></i></span></li>
                                            <li><span><i class="ri-add-line"></i></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>

                       {% endfor %}

                    </div>
                    <div class="d-flex justify-content-center pb-5" id="js-button">
                        <a onclick="onClickMoreVideo()" class="btn btn-hover">{{constant('_LOADMORE')}}</a>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock %}