<!doctype html>

<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {{ constant('_SITETITLE') }} {% endblock %} | {% block subtitle %}
        {{ constant('_SLOGANT') }}{% endblock %}</title>
    <!-- Slick JS -->
    <script src="/js/ajax.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/css/typography.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="/css/responsive.css" />
</head>

<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Header -->
    <header id="main-header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <div class="navbar-toggler-icon" data-toggle="collapse">
                                    <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                                    <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                                    <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                                </div>
                            </a>
                            <a class="navbar-brand" href="/"> <img class="img-fluid logo"
                                    src="/images/logo.png" alt="moviz-streams" style="width: 220px;" /> </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="menu-main-menu-container">
                                    <ul id="top-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item">
                                            <a href="/">{{ constant('_HOMEMENU') }}</a>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a class="menu-item dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ constant('_SERIEMENU') }}</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                <!-- ALL SERIE -->
                                            <a class="menu-item dropdown-item" href="/all-serie">{{ constant('_ALLSERIES') }}</a>
                                                <!-- ALL SERIE CATEGORY -->
                                            {% for seriecategory in constant('_SERIECATEGORY') %}
                                                {% for key, category in seriecategory %}
                                                    <a class="dropdown-item" href="/series/category/{{seriecategory[key]['id']}}">{{seriecategory[key]['name']}}</a>
                                                {% endfor %}
                                            {% endfor %}
                                            </div>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a class="menu-item dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ constant('_MOVIEMENU') }}</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                <!-- ALL MOVIE -->
                                            <a class="menu-item dropdown-item" href="/all-movie">{{ constant('_ALLMOVIES') }}</a>
                                                <!-- ALL MOVIE CATEGORY -->
                                                {% for moviecategory in constant('_MOVIECATEGORY') %}

                                                    {% for key, category in moviecategory %}
                                                        <a class="dropdown-item" href="/movies/category/{{moviecategory[key]['id']}}">{{moviecategory[key]['name']}}</a>
                                                    {% endfor %}
                                              
                                                {% endfor %}
                                            
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-more-menu">
                                <a href="javascript:void(0);" class="more-toggle" id="dropdownMenuButton"
                                    data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-more-line"></i>
                                </a>
                                <div class="more-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="navbar-right position-relative">
                                        <ul class="d-flex align-items-center justify-content-end list-inline m-0">
                                            <li>
                                                <a href="#" class="search-toggle">
                                                    <i class="ri-search-line"></i>
                                                </a>
                                                <div class="search-box iq-search-bar">
                                                    <form action="/search" class="searchbox" method="POST">
                                                        <div class="form-group position-relative">
                                                            <input type="text" name="search" class="text search-input font-size-12"
                                                                placeholder="{{ constant('_TYPEHERETOSEARCH') }}">
                                                            <i class="search-link ri-search-line"></i>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>


                                            {% if constant('_HEADERNEWS') != empty %}
                                            <li class="nav-item nav-icon">
                                                <a href="#" class="search-toggle position-relative">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        width="22" height="22" class="noti-svg">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path
                                                            d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
                                                    </svg>
                                                    <span class="bg-danger dots"></span>
                                                </a>
                                                <div class="iq-sub-dropdown">
                                                    <div class="iq-card shadow-none m-0">
                                                        <div class="iq-card-body">

                                                            {% for news in constant('_HEADERNEWS') %}
                                                            <a href="/movie/{{ news.slug }}" class="iq-sub-card">
                                                                <div class="media align-items-center">
                                                                    <img src="{{ news.image }}" class="img-fluid mr-3"
                                                                        alt="streamit" />
                                                                    <div class="media-body">
                                                                        <h6 class="mb-0 ">{{ news.name }}</h6>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endif %}

                                            
                                    {% if  session.user is not empty %}
                                    
                                        <li class="nav-item nav-icon">
                                 <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center active" data-toggle="search-toggle">
                                 <img src="{{session.user.avatar}}" class="img-fluid avatar-40 rounded-circle" alt="user">
                                 </a>
                                 <div class="iq-sub-dropdown iq-user-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                       <div class="iq-card-body p-2 pl-3 pr-3">
                                          <a href="/profile" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0 d-block"><i class="ri-file-user-line text-primary"></i> Manage Profile</h6>
                                                </div>
                                             </div>
                                          </a>
                                          <a href="/setting" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0 "> <i class="ri-settings-4-line text-primary"></i> Settings</h6>
                                                </div>
                                             </div>
                                          </a>
                                         {% if session.user.roles in "[\"ROLE_ADMIN\"]" %}
                                          <a href="/admin" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0"><i class="ri-settings-4-line text-primary"></i> Administration</h6>
                                                </div>
                                             </div>
                                          </a>
                                         {% endif %}
                                          <a href="/logout" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0 "><i class="ri-logout-circle-line text-primary"></i> Logout</h6>
                                                </div>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </li>


                                    {% else %}
                                     
                                    <li class="nav-item">
                                        <a href="/login"><button class="btn btn-hover">Login / Register</button></a>
                                    </li>
                                    
                                    {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-right menu-right">
                                <ul class="d-flex align-items-center list-inline m-0">
                                    <li class="nav-item nav-icon">
                                        <a href="#" class="search-toggle device-search">
                                            <i class="ri-search-line"></i>
                                        </a>
                                        <div class="search-box iq-search-bar d-search">
                                            <form action="/search" class="searchbox" method="POST">
                                                <div class="form-group position-relative">
                                                    <input type="text" name="search" class="text search-input font-size-12"
                                                        placeholder="{{ constant('_TYPEHERETOSEARCH') }}">
                                                    <i class="search-link ri-search-line"></i>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    {% if constant('_HEADERNEWS') != empty %}
                                    <li class="nav-item nav-icon">
                                        <a href="#" class="search-toggle" data-toggle="search-toggle">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"
                                                height="22" class="noti-svg">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path
                                                    d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
                                            </svg>
                                            <span class="bg-danger dots"></span>
                                        </a>
                                        <div class="iq-sub-dropdown">
                                            <div class="iq-card shadow-none m-0">
                                                <div class="iq-card-body">

                                                    {% for news in constant('_HEADERNEWS') %}
                                                    <a href="/movie/{{ news.slug }}" class="iq-sub-card">
                                                        <div class="media align-items-center">
                                                            <img src="{{ news.image }}" class="img-fluid mr-3"
                                                                alt="streamit" style="width: 125px;" />
                                                            <div class="media-body">
                                                                <h6 class="mb-0 ">{{ news.name }}</h6>
                                                                <small class="font-size-12">{{constant('_ISNEW')}}</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    {% endfor %}



                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}

                                    {% if  session.user is not empty %}
                                    
                                        <li class="nav-item nav-icon">
                                 <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center active" data-toggle="search-toggle">
                                 <img src="{{session.user.avatar}}" class="img-fluid avatar-40 rounded-circle" alt="user">
                                 </a>
                                 <div class="iq-sub-dropdown iq-user-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                       <div class="iq-card-body p-2 pl-3 pr-3">
                                          <a href="/profile" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0 d-block"><i class="ri-file-user-line text-primary"></i> Manage Profile</h6>
                                                </div>
                                             </div>
                                          </a>
                                          <a href="/setting" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0 "> <i class="ri-settings-4-line text-primary"></i> Settings</h6>
                                                </div>
                                             </div>
                                          </a>
                                         {% if session.user.roles in "[\"ROLE_ADMIN\"]" %}
                                          <a href="/admin" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0"><i class="ri-settings-4-line text-primary"></i> Administration</h6>
                                                </div>
                                             </div>
                                          </a>
                                         {% endif %}
                                          <a href="/logout" class="iq-sub-card setting-dropdown">
                                             <div class="media align-items-center">
                                                <div class="media-body ml-3">
                                                   <h6 class="mb-0 "><i class="ri-logout-circle-line text-primary"></i> Logout</h6>
                                                </div>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </li>


                                    {% else %}
                                     
                                    <li class="nav-item">
                                        <a href="/login"><button class="btn btn-hover">Login / Register</button></a>
                                    </li>
                                    
                                    {% endif %}
                                     

                                </ul>
                            </div>
                        </nav>
                        <div class="nav-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    {% block content %}{% endblock %}


    <footer class="mb-0">
        <div class="container-fluid">
            <div class="block-space">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-4">
                        <ul class="f-link list-unstyled mb-0">
                            <li><a href="/pages/about-us">{{constant('_ABOUTUS')}}</a></li>
                            <li><a href="/pages/corporate-information">{{constant('_CORPORATEINFORMATION')}}</a></li>
                            <li><a href="/pages/privacy-policy">{{constant('_PRIVACYPOLICY')}}</a></li>
                            <li><a href="/pages/terms-and-conditions">{{constant('_TERMSANDCONDITIONS')}}</a></li>
                            <li><a href="/pages/frequently-asked-questions">{{constant('_FAQ')}}</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <ul class="f-link list-unstyled mb-0">
                            <li><a href="/contact">{{constant('_CONTACTUS')}}</a></li>
                            <li><a href="/all-movie">{{constant('_MOVIES')}}</a></li>
                            <li><a href="/all-serie">{{constant('_SERIES')}}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright py-2">
            <div class="container-fluid">
                <p class="mb-0 text-center font-size-14 text-body">{{ constant('_SITETITLE') }} - {{ "now"|date("Y") }}
                    All Rights Reserved</p>
            </div>
        </div>
    </footer>


    <!-- MainContent End-->
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery, Popper JS -->
    {% block javascript %}{% endblock %}
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Slick JS -->
    <script src="/js/slick.min.js"></script>
    <!-- owl carousel Js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- select2 Js -->
    <script src="/js/select2.min.js"></script>
    <!-- Magnific Popup-->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Slick Animation-->
    <script src="/js/slick-animation.min.js"></script>
    <!-- Custom JS-->
    <script src="/js/custom.js"></script>
</body>

</html>