      {% extends "base.html.twig" %}

      {% block content %}
      {{error}}

      <section id="home" class="iq-main-slider p-0">
          <div id="home-slider" class="slider m-0 p-0">
              
            {% for headerheromovie in headersheromovie %}
                
              <div class="slick-bg" style="background-image: url('{{headerheromovie.image}}');">
                
                  <div class="container-fluid position-relative h-100">
                      <div class="slider-inner h-100">
                          <div class="row align-items-center  h-100">
                              <div class="col-xl-6 col-lg-12 col-md-12">
                                  <a href="/">
                                      <div class="channel-logo" data-animation-in="fadeInLeft">
                                          <img src="/images/logo.png" class="c-logo" alt="streamit">
                                      </div>
                                  </a>
                                  <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft">{{headerheromovie.name}}</h1>
                                  <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="0.5">
                                      <span class="badge badge-secondary p-2">{{headerheromovie.ageadapt}}+</span>
                                      <span class="ml-3">{{headerheromovie.time}}</span>
                                  </div>
                                  <p data-animation-in="fadeInUp" data-delay-in="0.7">{{headerheromovie.content}}
                                  </p>
                                  <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1">
                                      <a href="/movie/{{headerheromovie.slug}}" class="btn btn-hover"><i class="fa fa-play mr-2" aria-hidden="true"></i>{{ constant('_PLAYNOW') }}</a>
                                      <a href="/movie/{{headerheromovie.slug}}" class="btn btn-link">{{ constant('_MOREDETAILS') }}</a>
                                  </div>
                              </div>
                          </div>
                          <div class="trailor-video">
                              <a href="{{headerheromovie.trailer}}" class="video-open playbtn">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                      <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                                      <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                                  </svg>
                                  <span class="w-trailor">{{ constant('_WATCHTRAILER') }}</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}

              {% for headerheroserie in headersheroserie %}
                
               <div class="slick-bg" style="background-image: url('{{headerheroserie.image}}');">

                  <div class="container-fluid position-relative h-100">
                      <div class="slider-inner h-100">
                          <div class="row align-items-center  h-100">
                              <div class="col-xl-6 col-lg-12 col-md-12">
                                  <a href="javascript:void(0);">
                                      <div class="channel-logo" data-animation-in="fadeInLeft">
                                          <img src="/images/logo.png" class="c-logo" alt="streamit">
                                      </div>
                                  </a>
                                  <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft">{{headerheroserie.name}}</h1>
                                  <p data-animation-in="fadeInUp" data-delay-in="0.7">{{headerheroserie.content}}
                                  </p>
                                  <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1">
                                      <a href="/serie/{{headerheroserie.id}}/1/{{headerheroserie.slug}}" class="btn btn-hover"><i class="fa fa-play mr-2" aria-hidden="true"></i>{{ constant('_PLAYNOW') }}</a>
                                      <a href="/serie/{{headerheroserie.id}}/1/{{headerheroserie.slug}}" class="btn btn-link">{{ constant('_MOREDETAILS') }}</a>
                                  </div>
                              </div>
                          </div>
                          <div class="trailor-video">
                              <a href="{{headerheroserie.trailer}}" class="video-open playbtn">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                      <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                                      <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                                  </svg>
                                  <span class="w-trailor">{{ constant('_WATCHTRAILER') }}</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
                  <circle r="20" cy="22" cx="22" id="test"></circle>
              </symbol>
          </svg>
      </section>
      <!-- Slider End -->
      <!-- MainContent -->
      <div class="main-content">
          <section id="iq-favorites">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 overflow-hidden">
                          <div class="iq-main-header d-flex align-items-center justify-content-between">
                              <h4 class="main-title">{{ constant('_BESTSELLER') }}</h4>
                          </div>
                          <div class="favorites-contens">
                              <ul class="favorites-slider list-inline  row p-0 mb-0">
                                {% if (bestsellermovies == null) or (bestsellermovies == null) %}
                                <div class="d-flex align-items-center">
                                    <h5 class="text-danger">Pas de medias pour le moments</h5>
                                </div>
                                {% endif %}
                                {% for bestsellermovie in bestsellermovies %}
                                  <li class="slide-item">
                                      <a href="/movie/{{bestsellermovie.slug}}">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="{{bestsellermovie.image}}" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>{{bestsellermovie.name}}</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">{{bestsellermovie.ageadapt}}+</div>
                                                      <span class="text-white">{{bestsellermovie.time}}</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          {{ constant('_PLAYNOW') }}
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                {% endfor %}


                                {% for bestsellerserie in bestsellerseries %}
                                  <li class="slide-item">
                                      <a href="/serie/{{bestsellerserie.id}}/1/{{bestsellerserie.slug}}">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="{{bestsellerserie.image}}" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>{{bestsellerserie.name}}</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <span class="text-white">Saison 1</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          {{ constant('_PLAYNOW') }}
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li> 
                                {% endfor %}

                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <section id="iq-upcoming-movie">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 overflow-hidden">
                          <div class="iq-main-header d-flex align-items-center justify-content-between">
                              <h4 class="main-title">{{ constant('_NEWSERIES') }}</h4>
                          </div>
                          <div class="upcoming-contens">
                              <ul class="favorites-slider list-inline row p-0 mb-0">
                                  {% if newseries == null %}
                                <div class="d-flex align-items-center">
                                    <h5 class="text-danger">Pas de medias pour le moments</h5>
                                </div>
                                {% endif %}

                                  {% for newserie in newseries %}
                                
                                  <li class="slide-item">
                                      <a href="/serie/{{newserie.id}}/1/{{newserie.slug}}">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="{{newserie.image}}" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>{{newserie.name}}</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <span class="text-white">Saison 1</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          {{ constant('_PLAYNOW') }}
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  {% endfor %}
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <section id="iq-upcoming-movie">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 overflow-hidden">
                          <div class="iq-main-header d-flex align-items-center justify-content-between">
                              <h4 class="main-title">{{ constant('_NEWMOVIES') }}</h4>
                          </div>
                          <div class="upcoming-contens">
                              <ul class="favorites-slider list-inline row p-0 mb-0">
                                {% if newmovies == null %}
                                <div class="d-flex align-items-center">
                                    <h5 class="text-danger">Pas de medias pour le moments</h5>
                                </div>
                                {% endif %}
                                {% for newmovie in newmovies %}
                                  <li class="slide-item">
                                      <a href="movie/{{newmovie.slug}}">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="{{newmovie.image}}" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>{{newmovie.name}}</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">{{newmovie.ageadapt}}+</div>
                                                      <span class="text-white">{{newmovie.time}}</span>
                                                  </div>
                                                    <div class="hover-buttons">
                                                       <a href="movie/{{newmovie.slug}}"><span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          {{ constant('_PLAYNOW') }}
                                                      </span></a>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>  
                                {% endfor %}
                                  
                                  
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          {% endblock %}